<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
   {{>header}}
   <p>This site was created my Rishu Sahu. It uses data 
       from mapbox and weatherstack website.
   </p>
    <img src="/img/robot.png">
   {{>footer}}
</body>
</html>